<%- include("./layout/header.ejs") %>

    <form action="" method="post" enctype="multipart/form-data">
        <input class="" type="text">
        <button class="btn btn-primary">Setup Blog</button>
    </form>
    <%- include("./layout/footer.ejs") %>